<div class="dashboard-wrapper">
  <% if @safe_to_use %>
    <p><a href="/bulk_upload" class='dashboard-btn'>Bulk upload</a>
  <% else %>
    <p><a href="/bulk_upload" class='dashboard-btn btn-disabled link-not-active'>Bulk upload</a>
  <% end %>

  <p><%= link_to 'Update products', update_products_path, class: 'dashboard-btn' %></p>
  <p><%= link_to 'Dictionary', dictionary_lookup_path, class: 'dashboard-btn' %></p>
</div>

<style>
  .dashboard-btn {
    display: inline-block;
    background-color: #43477D;
    color: white;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-weight: 300;
  }

</style>
